<section id="perfil" class="mt-5">
    <div class="container">
      <div class="row justify-content-center">
  
        <div class="Github-Search col-xs-12 col-md-4">
          <h1 class="text-style-1">Gighub Search</h1>          
        </div>
  
        <div class="col-xs-12 col-md-8 input-group mb-5">
          <input #nombre maxlength="80" name="Name" type="text" class="form-control Search-Input" placeholder="{{usuarioModel.login}}" aria-label="">
          <div class="input-group-append">
            <button type="submit" name="registrar" class="btn btn-primary btn-block btn-sm">
              <i class="fa fa-2x fa-search"></i>
            </button>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12 col-md-4">
            <img class="user-avatar" [src]="usuarioModel.avatar_url">
            <div class="user-name mt-3 mb-3">
              {{ usuarioModel.login }}
            </div>
            <div class="user-login mb-1">
              {{ usuarioModel.id }}
            </div>
            <div class="user-login mb-1">
              {{ usuarioModel.bio }}
            </div>
        </div>


        <div class="col-xs-12 col-md-8 input-group mb-5">
            <div *ngFor="let repo of repositoriosModel" class="mb-5">
                <div class="repo-name">{{repo.name }} F {{ repo.id }} </div>
                <div class="repo-description">{{repo.description }}</div>
                <div class="star-count">
                  <i class="fa fa-2x fa-star">{{repo.watchers }}</i>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
