<section id="buscar" class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="actv_container footer-bg">
        <form (submit)="buscarUSuario()">
          <div>
            <h1 class="Github-Search text-style-1">Gighub Search</h1>
          </div>
          <div class="col-xs-12 input-group mb-5">
            <input #nombre maxlength="80" name="Name" type="text" class="form-control Search-Input" placeholder="" aria-label="">
            <div class="input-group-append">
              <button type="submit" name="registrar" class="btn btn-primary btn-block btn-sm">
                <i class="fa fa-2x fa-search"></i>
              </button>
            </div>
          </div>

          <!--
          <div>
            <input matInput placeholder="" #nombre maxlength="80" [(ngModel)]="userName" name="Name" required>
          </div>
          <div>
            <button name="registrar" class="btn btn-primary btn-block btn-sm">Buscar</button>
          </div>
          -->
        </form>
      </div>
    </div>
  </div>
</section>
